body{
  font-family: 'Ubuntu', sans-serif;
}

/* navbar */
header{
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  background: url(../img/banner.jpg) no-repeat center center /cover;

}

.navbar {
  background-color: black;
  background-image: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler {
  border-color: white;
}


.nav-menu{
  background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
  padding: 30px;
}

.menu-item{
  font-size: 20px;
  letter-spacing: 1px;
  color: #eee;
}

.menu-item:hover{
  color: #ffd31d;
}
/* navbar */

/* Menu */

.banner{
  text-align: center;
  color: #eee;
}

.carousel-item{
  text-align: center;
  height: 100vh;
  padding-top: 20vh;
}




h1{
  font-size: 144px;
  color: #eee;
}

.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.eliteimg{
  width: 10%;
}

.bantext{
  color: #eee;
  font-size: 144px;
}
.bantext2{
  color: #eee;
  font-size: 40px;
}
.bantext3{
  color: #eee;
  font-size: 96px;
  padding: 0% 15%;
}


/* whoarewe */

.whoarewe{
  font-family: 'Kanit', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 10%;
}

.text1{

  font-size: 50px;
  color: #00243C;
}

.whogrid{
  background: rgb(213,249,255);
  background: linear-gradient(0deg, rgba(213,249,255,1) 0%, rgba(255,245,246,1) 100%);
  margin: 20px 10px;
  -webkit-box-shadow: 0px 0px 34px -8px rgba(122,122,122,1);
  -moz-box-shadow: 0px 0px 34px -8px rgba(122,122,122,1);
  box-shadow: 0px 0px 34px -8px rgba(122,122,122,1);
}



.text2{

  font-size: 25px;
  color: #000000;
}

.text3{
  font-size: 18px;
  color: #000000;
}

.iconwho{
  text-align: right;
  font-size: 70px;
}

.imgelite{
  text-align: center;
}
.imgelite2{
  margin-top: 40px;
}

/* end whoarewe */

/* strategy */
.strategy{
  font-family: 'Kanit', sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px 0%;
  background: url(../img/com.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.st{
  text-align: left;
}

.texts1{
  font-size: 50px;
  color: #eee;
}

.texts2{
  font-size: 25px;
  color: #eee
}

.texts3{
  font-size: 18px;
  color: #eee
}

.iconst{
  color: #ff9a03;
  font-size: 60px;
}

.strategy_col{
  padding: 10px 10px;
}

.overlay{
  padding: 50px 200px;
  width: 100%;
  height: 100%;
  background: #00243C;
  opacity: .7;
}

/* end strategy */


/* market */

.market{
  font-family: 'Kanit', sans-serif;
  color: #00243C;
}

.market_con{
  padding-left: 7%
}

.text_markrt_1{
  font-size: 50px;
}

.text_markrt_2{
  font-size: 25px;
}

.text_markrt_3{
  font-size: 15px;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.sw_1 {
  background-position: center;
  text-align:center;
  background-size: cover;
  width: 250px;
  height: 280px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
  margin:0px 15px;
}

.img_icon{
  width: 140px;
  padding-top:30px;
}

.market_icon{
  padding: 0px;
}

/* end market */

/* Our courses */

.ourcourse{
  font-family: 'Kanit', sans-serif;
  color: #00243C;
  padding: 0% 7%;
  padding-bottom: 2%;
}

.text_ourcourse_1{
  font-size: 50px;
}

.text_ourcourse_2{
  font-size: 25px;
}

.text_ourcourse_3{
  font-size: 20px;
  color: #FF9A02;
  font-weight: bold;
}

.ourtext_container{

}

.sw_2 {
  background-position: center;
  text-align:left;
  background-size: cover;
  width: 330px;
  height: 450px;
  background-color: #FCF4F1;
  margin: 0px 50px;
}

.img_course{
  width: 330px;
  height: 330px;
}

.see_con{
  margin-top: 10px;
}

.swiper-container2 {
  padding-top: 50px;
  padding-bottom: 20px;
}

.hr_course {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #097290;
    margin: 1em 0;
    padding: 0;
}

/* end courses */

/* content */

.content{
  font-family: 'Kanit', sans-serif;
  color: #000000;
  padding: 0% 7%;
  padding-right: 0%;
}

.content_text_1{
  font-size: 50px;
}

.content_text_2{
  font-size: 40px;
  padding-top: 15px;
}

.swiper-container3 {
  padding-bottom: 0px;
  padding-top: 0px;
}

.sw_3 {
  padding: 0px;
  background-position: center;
  text-align:left;
  background-size: cover;
  width: 330px;
  height: 420px;
  background-color: #EAEAEA;
  margin: 0px 50px;
}

.swiper-pagination3{
  padding: 0px;
}

.img_relate{
  width: 330px;
  height: 330px;
}

.text_relate1{
  font-size: 17px;
}

.text_relate1:hover{
  text-decoration: underline red;
}

/*  */
.content_flex {
  background-position: center;
  text-align:left;
  background-size: cover;
  width: 330px;
  height: 420px;
  background-color: #EAEAEA;
  margin: 0px 50px;
  padding: 0px;
}

.side_content_con{
  padding: 0px;
}

.sw_4 {
  padding: 0px;
  background-position: center;
  text-align:left;
  background-size: cover;
  width: 225px;
  height: 180px;
  background-color: #EAEAEA;
  margin: 20px 20px;;
}

.sw_5 {
  padding: 0px;
  background-position: center;
  text-align:left;
  background-size: cover;
  width: 225px;
  height: 80px;
  background-color: #e36387;
  margin: 10px 20px;;
}

.side_content{
  padding: 0px;
}

.img_pod{
  width: 70px;
  margin-right: 10px;
}

.img_pod{
  width: 90px;
}

/*  */


/* end content */

/* bottom */
.bottom{
  font-family: 'Kanit', sans-serif;
  color: #FFFFFF;
  background-color: #a6dcef;
  height: auto;
  padding: 0px 0%;
  background: url(../img/botom2.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.bot_overlay{
  height: 100%;
  background-color: #00243C;
  opacity: .7;
  padding-top: 3%;
}

.text_bot1{
  font-size: 36px;
}

.text_bot2{
  font-size: 18px;
}

.con_bot{
  align-items: center;
  justify-content: center;
}

.con_bot2{
  justify-content:flex-start;
}

.adress_con{
  padding: 0% 15%;
  text-align: left;
}

.elt_text{
  margin-left: 5px;
}

.im_con{
  text-align: left;
  padding-left: 7%;
}

.email_summit{
  font-size: 40px;
}

.hr_end {
    display: block;
    height: 1px;
    border: 0;
    border-top: 5px solid #FFFFFF;
    margin: 1em 7%;
    padding: 0;
}

.con_end1{
  padding: 0% 7%;
}



.con_end{
  align-items: flex-start;
  text-align: left;
}

.con_end2{
  text-align: right;
}

.follow_con{
  padding: 0px;
}
